{# Dywee\AddressBundle\Resources\View\layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
     {{ parent() }}
{% endblock %}

{% block sidebarContent %}
     <ul class="list-unstyled nav-left">
          <li><a href="#" class="nav-main">Accueil</a></li>
          <li><a href="#" class="nav-main">Vos informations</a></li>
          <li><a href="#" class="nav-main">Vos commandes</a></li>
          <li><a href="#" class="nav-main">Déconnexion</a></li>
     </ul>
{% endblock %}