{# Dywee\EshopBundle\Resources\View\Eshop\edit.html.twig #}

{%  extends "DyweeAddressBundle::admin.html.twig" %}

{% block metaTitle %}
    Modification d'une adresse {{ parent() }}
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h1 class="box-title">Modification d'une adresse</h1>
        </div>
        <div class="box-body">
            {% include "DyweeAddressBundle:Admin:form.html.twig" %}
        </div>
    </div>
{% endblock %}