{# Dywee\AddressBundle:SuperAdmin:add.html.twig #}

{%  extends "DyweeAddressBundle::admin.html.twig" %}

{% block metaTitle %}
    Modification d'une adresse {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Modification d'une adresse</h1>

    {% include "DyweeAddressBundle:SuperAdmin:form.html.twig" %}
{% endblock %}