{% extends "DyweeAddressBundle::userAdmin.html.twig" %}

{% block metaTitle %}
    Création d'une adresse {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Création d'une adresse</h2>
                </div>
                <div class="panel-body">
                    {% include "DyweeAddressBundle:Form:address_user.html.twig" %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}