{# Dywee\EshopBundle\Resources\View\Eshop\add.html.twig #}

{%  extends "DyweeAddressBundle::admin.html.twig" %}

{% block title %}
    Création d'une adresse {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Création d'une adresse</h1>

    {% include "DyweeAddressBundle:Form:address.html.twig" %}
{% endblock %}